In [1]:
#int to string change

In [6]:
a=10
b=str(a)
print(a,id(a))
print(type(b))
print(b)

10 140736338256968
<class 'str'>
10

In [7]:
#int to float
d=10
c=float(d)
print(c,type(c))

10.0 <class 'float'>

In [11]:
#string to int
h="10"
m=int(h)
print(m,type(m))

10 <class 'int'>

In [12]:
#string to float
g=float(h)
print(g,type(g))

10.0 <class 'float'>

In [13]:
p={1,2,3,4,5,6}
o=tuple(p)
print(o,type(o))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [14]:
i=set(p)
print(i,type(i))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [15]:
o=frozenset(p)
print(o,type(o))

frozenset({1, 2, 3, 4, 5, 6}) <class 'frozenset'>

In [ ]:
#string jisme float value like 10.0 to isko direct int me convert ni kkiya ja skta hai iske liye isko pphle float me fir 
# string me change kroge

In [18]:
a="10.00"
b=int(float(a))
print(b)

10